
@media only screen and (max-width: 736px) and (orientation: landscape) {

    #about-me {
        height: 250vh;
    }

    #achievement article #line {
        width: 57vw;
    }

    .block {
        width: 52vw;
    }

    #block2 {
        left: auto;
        right: 0;
    }

    #degree {
        top: 99px;
    }

    #springer {
        top: 312px;
    }
}