@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
    /* color properties rgba(41, 61, 90, 0.99); rgba(10, 24, 49, 0.99);*/
    --backgroung-color: rgba(26, 39, 58, 0.99);
    --main-color: #34e8eb;
    --heading-color: #E6F1FF;
    --text-color: #8892B0;
    /* left indent */
    --left-indent: 8%;
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0%;
    padding: 0%;
    background: var(--backgroung-color);
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}

#temp {
    position: absolute;
    top: 0px;
    right: 20px;
}

#temp img {
    width: 20vw;
}

header {
    /* border: 1px solid red; */
    height: 100vh;
    position: relative;
}

header article {
    /* border: 1px solid green; */
    position: absolute;
    top: 30%;
    left: var(--left-indent);
    height: 50%;
}

header h4 {
    font-family: 'Fira Code', monospace;
    margin: 0%;
    font-size: 1.5vw;
    padding-bottom: 15px;
    color: var(--main-color);
}

header p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 4vw;
    margin: 0%;
    padding-bottom: 15px;
    font-weight: bold;
}

header p span {
    /* background-color: #34e8eb; */
    /* color: #E6F1FF; */
    /* text-decoration: underline; */
    border-bottom: 3px solid var(--main-color);
}

header article P:first-of-type {
    color: var(--heading-color);
}

header article P:nth-of-type(2) {
    color: var(--text-color);
}

/* Nav */

nav {
    height: 80px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    /* border: 1px solid green; */
    background-color: var(--backgroung-color);
    z-index: 1;
    /* background-color: #cae8ca; */
}

nav img {

    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 3%;
}

nav ul {
    margin: 0;
    padding: 0 1.5% 0 0;
    text-align: right;
}

nav ul li {
    margin: 0;
    padding: 0;
    /* display: block;
    float: right; */
    display: inline-block;
}

nav ul li a {
    /* border: 1px solid green; */
    font-family: 'Fira Code', monospace;
    /* height: 100%; */
    display: block;
    font-size: 15px;
    color: var(--heading-color);
    text-decoration: none;
    padding: 28px 13px;
}

nav ul li a:hover {
    color: var(--main-color);
    padding: 28px 4px;
}

nav ul li a:hover::before {
    font-family: 'Fira Code', monospace;
    content: "{";
    color: var(--heading-color);
}

nav ul li a:hover::after {
    font-family: 'Fira Code', monospace;
    content: "}";
    color: var(--heading-color);
}









